.page
{
background-color:#b05858;;
}
#diana
{
background-color:yellow;
}
#catherine
{
background-color:white;
border-color:none;
box-shadow:none;
}


* {	

}
.go-back
{
	color:white;
	font-size:30px;
	font-weight: bold;

}

a:link,
a:visited
{
	color:white;
}

a:hover{
color:yellow;
}

.artists
{
border:solid;
border-color:yellow; 
border-width:3px;
box-shadow: 
    1px 1px 0px 0px yellow,
    2px 2px 0px 0px yellow,
    3px 3px 0px 0px yellow,
    4px 4px 0px 0px yellow,
    5px 5px 0px 0px yellow,
    6px 6px 0px 0px yellow,
    7px 7px 0px 0px yellow,
    8px 8px 0px 0px yellow;
}

.artists,
.preview
{
text-align:center;

padding:20px;
	position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.artist a:hover {color: #CCC}

.artists p
{
	color:white;
	font-family: Courier;
	font-weight: bold;
	font-size: 40px;
	text-decoration:underline;
}

img
{
	display:block;
	max-width: 500px;
	max-height: auto;
}

#brand
{	
	position: fixed;
	top:60%;
	left:100%;   
}

#brand
{
font-family: Helvetica;
font-weight: bold;
font-size: 40px;
color:black;
transform: rotate(90deg);
transform-origin: left top 0;
}
.info
{
position:fixed;
font-family: Helvetica;
font-weight: bold;
font-size: 40px;
color:black;

}
.info p
{
margin:2px;
}
